<div class="container">
    <h1>Deaf Grandma</h1>
    <% if @grandma %>
        <p>Grandma says: "<span id="grandma_says"><%= @grandma_says %></span>"</p>
    <% end %> <!-- end of if:grandma -->
    <form action="/grandma" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        Say something to Grandma:
        <br>
        <input type="text" name="user_input">
        <input type="submit" value="Say it!">
    </form>
</div>